
<h2> Encoded Video with Handbrake </h2>
<video controls preload="auto" poster="https://s3-us-west-1.amazonaws.com/bucketca/html5Video/podcast-poster.jpg">  
	<source src="https://s3-us-west-1.amazonaws.com/bucketca/html5Video/encoded/podcast.mp4" type="video/mp4" />    // safari
	<source src="https://s3-us-west-1.amazonaws.com/bucketca/html5Video/encoded/podcast.webm" type="video/webm" /> // firefox
	<source src="https://s3-us-west-1.amazonaws.com/bucketca/html5Video/encoded/podcast.ogv" type="video/ogg" />	  // firefox
	<p>Browser doesn't support video</p>
</video>

<br/>



